body, html {
    min-width: 100%;
    min-height: 100%;

    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#modal-overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #000;
    opacity: 0.6;
    z-index: -10;
}
/***************************************************
Chat Structure
****************************************************/

#container {
    width: 900px;
    height: 525px;
    margin: 0 auto;

    background-color: #2f96b4;
}

#emoe-list-container__left {
    width: 200px;
    height: 525px;
    float: left;

    background-color: #515151;
}
#emoe-list-container__right {
    width: 200px;
    height: 525px;
    float: left;

    background-color: #515151;
}
#chat-container {
    width: 500px;
    height: 525px;
    float: left;

    background-color: #d3d3d3;
    position: relative;
}

#chat-window {
    width: 90%;
    height: 275px;

    margin: 25px auto 0;
    position: relative;
    background-color: #ffffff;
    overflow-y: scroll;
}

#chat-interface {
    width: 100%;
    height: 200px;

    background-color: #8d8d8d;
    position: absolute;
    bottom: 0;
}


/***************************************************
Interface Area
****************************************************/

.chat-textarea {
    width: 300px;
    height: 100px;
    display: bl;
    float: left;

    margin: 20px 0 0 20px;
    position: relative;
}

.to-attach {
    width: 300px;
    height: 40px;
    display: block;
    float: left;

    background-color: #fff;
    margin: 32px 0 0 20px;
    padding: 10px;
    position: relative;
}

.to-attach:before {
    content: 'Emoes attached to this message';
    position: absolute;
    top: -17px;
    left: 0px;
    font-size: 12px;
}

.button-cluster {
    width: 140px;
    height: 140px;
    float: right;

    margin: 20px 20px 0 0;
}

.emoe-attach,.chat-lock {
    width: 60px;
    height: 60px;

    cursor: pointer;
}

.emoe-attach {
    background: url('../img/attach.png') no-repeat center #ffffff;
}

.lock{
    background: url('../img/lock.png') no-repeat center #ffffff;
}

.unlock {
    background: url('../img/unlock.png') no-repeat center #ffffff;
}

button:hover {
    background-color: lightgreen;
}

.message-send {
    width: 125px;
    height: 60px;

    margin: 10px 0 0 0;

    cursor: pointer;
}

/***************************************************
Emoes Attachment Areas
****************************************************/

#emoe-list-container__left h3, #emoe-list-container__right h3{
    margin: 10px auto 10px;

    color: #ffffff;
    text-align: center;
}

.emoe-list {
    width: 90%;
    height: 90%;

    margin: 0 auto;
    background-color: #ffffff;
}
.emoe {
    width: 100%;

    padding: 5px 10px;
    float: left;

    cursor: pointer;
}

.emoe:hover {
    background-color: #d3d3d3;
}

.emoe-container {
    float: left;
    position: relative;
}
.emoe-color {
    width: 20px;
    height: 20px;
    display: block;
    float: left;

    border-radius: 10px;
    margin-right: 5px;
}

.emoe-level {
    width: 20px;
    height: 20px;
    display: block;
    float: left;

    position: absolute;
    left: 0;
    background-color: #000;
    border-radius: 10px;
    margin-right: 5px;
    opacity: 0;
}

.emoe-name {
    display: block;
    float: right;
}

.create-emoe {
    width: 170px;
    height: 50px;

    display: block;
    margin: 0 auto;
    background-color: #2afd62;
    position: relative;
    top: -55px;

    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.create-emoe:hover {
    background-color: lightgreen;
}

/***************************************************
Chat Styles
****************************************************/
.message {
    width: 100%;
    float: left;

    padding: 5px 10px;
}

.yours {
    background-color: #e3f0f6;
}

.name {
    width: 100%;

    font-weight: bold;
    font-size: 11px;
    float: left;
}

.message-container {
    width: 100%;
    float: left;
}

.typing {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 12px;
    right: 8px;
    z-index: 2;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition:    opacity 0.5s ease-in-out;
    -ms-transition:     opacity 0.5s ease-in-out;
    transition:         opacity 0.5s ease-in-out;
}

.blink {
    opacity: 0;
}

/***************************************************
Emoe Attach Modal
****************************************************/

.emoe-attach-modal {
    width: 500px;
    height: 250px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -250px;
    background-color: #fff;
    border: 3px solid #000;
    padding-top: 30px;
    z-index: -10;
}

.emoe-attach-modal .emoe-container {
    left: 38px;
    top: 37px;
}

.emoe-attach-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.slider {
    width: 300px;

    margin: 40px auto 0;
    position: relative;
}

.slider:before {
    content: 'Max';

    position: absolute;
    top: 20px;
}

.slider:after {
    content: 'Min';

    position: absolute;
    top: 20px;
    right: 0;
}

/***************************************************
Emoe Create Modal
****************************************************/
.emoe-create-modal {
    width: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -167px 0 0 -250px;
    background-color: #fff;
    border: 3px solid #000;
    padding-top: 30px;
    z-index: -10;
}

.emoe-create-modal input {
    width: 300px;
    display: block;

    padding: 6px 10px;
    margin: 35px auto 0;
}

.emoe-create-modal table {
    width: 200px;

    margin: 20px 0 30px 90px;
}

.emoe-create-modal table td {
    cursor: pointer;
    padding: 10px;
}

.emoe-create-modal table td:hover {
    background-color: #a2adc0;
}

.emoe-create-modal table .emoe-color {
    float: none;
    margin: 0 auto;
    cursor: pointer;
}

.emoe-create-modal table td.select {
    background-color: #1ba33f;
}

.save {
    border: 0;
    background-color: #2afd62;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}

.cancel {
    border: 0;
    background-color: #db4834;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}
.cancel:hover {
    background-color: #db8377;
}

.button-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}

/***************************************************
Emoe List
****************************************************/

.happy {
    background-color: blue;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: #ffff00;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.brown {
    background-color: brown;
}

.gray {
    background-color: #808080;
}

.turquoise {
    background-color: turquoise;
}

.lime {
    background-color: lime;
}
.light-blue {
    background-color: deepskyblue;
}